:root {
    --p1_color_1: #F8F4EC;
    --p1_color_2: #FF9BD2;
    --p1_color_3: #D63464;
    --p1_color_4: #2d212a;

    --p2_color_1: #3F3038;
    --p2_color_2: #FDF6FA;
    --p2_color_3: #FDAED8;
    --p2_color_4: #F361AF;

    --color_1: #FAD3E4;
    --color_2: #ffc0e6;
    --color_3: #f695c5;
    --color_4: #4c454c;
    --color_5: #2a2a2a;


}