:root {
    --p1_color_1: #F8F4EC;
    --p1_color_2: #FF9BD2;
    --p1_color_3: #D63464;
    --p1_color_4: #402B3A;

    --p2_color_1: #3F3038;
    --p2_color_2: #FDF6FA;
    --p2_color_3: #FDAED8;
    --p2_color_4: #F361AF;

}