<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruits Morgue</title>

    <link rel="stylesheet" href="./style/body.css">
    <link rel="stylesheet" href="./style/main.css">

</head>
<body>

    <header>
    </header>


    <main>
        <div class="slogan">
            <p>
                um
                <strong>fondue</strong>
            </p>
            <p class="title">assustador</h1>
            <p>para você experimentar</p>
        </div>
        <div class="orders-list">
            <div class="order">
                <img class="product-image" src="./img/products/strawberry-grape.png" alt="">
                <p class="price">R$00,00</h4>
                <!-- <h2>NOME</h2> -->
                <div class="action">
                    <button class="action_button">
                        <img class="action_img" src="/img/icons/adicionar-botao.png" alt="">
                    </button>
                    <p class="quantity">0</p>
                    <button class="action_button">
                        <img class="action_img" src="/img/icons/botao-de-menos.png" alt="">
                    </button>
                </div>
            </div>

            <div class="order">
                <img class="product-image" src="./img/products/strawberry-grape.png" alt="">
                <p class="price">R$00,00</h4>
                <!-- <h2>NOME</h2> -->
                <div class="action">
                    <button class="action_button">
                        <img class="action_img" src="/img/icons/adicionar-botao.png" alt="">
                    </button>
                    <p class="quantity">0</p>
                    <button class="action_button">
                        <img class="action_img" src="/img/icons/botao-de-menos.png" alt="">
                    </button>
                </div>
            </div>

            <div class="order">
                <img class="product-image" src="./img/products/strawberry-grape.png" alt="">
                <p class="price">R$00,00</h4>
                <!-- <h2>NOME</h2> -->
                <div class="action">
                    <button class="action_button">
                        <img class="action_img" src="/img/icons/adicionar-botao.png" alt="">
                    </button>
                    <p class="quantity">0</p>
                    <button class="action_button">
                        <img class="action_img" src="/img/icons/botao-de-menos.png" alt="">
                    </button>
                </div>
            </div>
        </div>

        <div class="finish_section">
            <button class="finish">Concluir</button>
        </div>



    </main>


    <footer>
    </footer>
    
</body>
</html>